<header>

      <div class="header-image-container">
      <!--  <img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/38304/preview.svg" alt="recipe-logo">-->
      <img src="folder@3x.png" alt="recipe-logo">
      </div>

      <h1 class="site-title"><a href="#">Recipe Box</a></h1>

    </header>