<section id="meal-tabs">
    <div class="tabs" data-meal-tabs="{}"></div>
        <ul id="tabs">
            <li><a href="#" name="tab-all">All</a></li>
            <li><a href="#" name="tab-breakfast">Breakfast</a></li>
            <li><a href="#" name="tab-lunch">Lunch</a></li>
            <li><a href="#" name="tab-dinner">Dinner</a></li>  
        </ul>
        <button type="button" id="add-recipe-button" class="action-button">Add Recipe</button>
        <button type="button" id="edit-recipe-button" class="action-button">Edit Recipe</button>
        <button type="button" id="show-recipe-button" class="action-button">Show Recipe</button>
        <button type="button" id="delete-recipe-button" class="action-button">Delete Recipe</button>
    </div>
</section>