<section id="search-box">

      <div class="search-header">
          <h3>Recipe Box Search</h3>
      </div>

      <div class="search-container">
        <label for="search-title" class="search-input-text">Title</label>
        <div class="title-search">
            <input type="text" name="search-title" id="search-title" class="search-input">
        </div>
      </div>

      <div class="search-container">
          <label for="search-max-time" class="time-input-label">Cooking Time</label>
          <div class="time-input-element">
            <input type="text" name="search-max-time" id="max-time" class="search-time" placeholder="max">
          </div>
      </div>
    
    <div class="search-container">
        <label for="search-fam-size" class="fam-size-input-label">Family Size</label>
        <div class="fam-size-input-element">
          <input type="text" name="search-fam-size" id="fam-size" class="search-size" placeholder="# of people">
        </div>
      </div>
  
    <div class="search-container">
        <label for="search-difficulty" class="difficulty-input-label">Difficulty Rating</label>
        <div class="diff-drop-input-element">
            <select id="search-difficulty" class="diff-drop" name="diff-drop">
                <option selected value="">All</option>
                <option>Easy Street</option>
                <option>Got Skills</option>
                <option>Top Chef</option>
            </select>        
        </div>
      </div>
  
      <div class="search-container">
        <label for="search-fam-mem" class="fam-mem-input-label">Author</label>
        <div class="fam-mem-input-element">
          <input type="text" name="search-fam-mem" id="fam-mem" class="search-fam-mem" placeholder="recipe author">
        </div>
      </div>

    <div class="search-button-container">
        <button type="button" id="search-button" class="search-button">Search</button>
    </div>

</section>
