<!DOCTYPE html>
<!-- Need to add "edit" modal
                  change input modal ing/dir to single field-->
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipe Box</title>
    <!--This is a web app for families to document their recipes in digital format. It includes searching and adding new recipe "cards"-->
    
    <!---Some of the basic HTML DOM structures were taken from the Benny's List assignments, but heavily adapted to our purpose-->
    <!--Used this tutorial for the "folder" tabs https://catalin.red/css3-jquery-folder-tabs/ -->
    
    <!-- Google Fonts stylesheet. -->
    <link href="https://fonts.googleapis.com/css?family=Asap|Crete+Round|Satisfy&display=swap" rel="stylesheet">

    <!--  icons http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

    <script  src="index.js" charset = "utf-8" defer></script>
   
  </head>
  <body>
    {{>header}}
    {{{body}}}
</body>
</html>