<main>
    
<section id="meal-tabs">
    <!--need 4 tabs and add button button here-->
    <div class="tabs" data-meal-tabs="{}"></div><!--not sure if we need any data attribute handlebars or not-->
        <ul id="tabs">
            <li><a href="#" name="tab-all">All</a></li>
            <li><a href="#" name="tab-breakfast">Breakfast</a></li>
            <li><a href="#" name="tab-lunch">Lunch</a></li>
            <li><a href="#" name="tab-dinner">Dinner</a></li>  
            <!--tabs to add?? : recipe of the day (different packaging, same functinality, as recipe roulette
                              : favorite recipes (tallies number of views each card gets and adds the top values to the list-->

        </ul>
        
        <button type="button" id="add-recipe-button" class="action-button">Add Recipe</button>
        <button type="button" id="edit-recipe-button" class="action-button">Edit Recipe</button>
        <button type="button" id="show-recipe-button" class="action-button">Show Recipe</button>
        <button type="button" id="delete-recipe-button" class="action-button">Delete Recipe</button>
        <!--content here?? not sure if we actually need this
        <div id="content"> 
            <div id="tab-all"></div>
            <div id="tab-breakfast"></div>
            <div id="tab-lunch"></div>
            <div id="tab-dinner"></div>
            <div id="tab-add-recipe"></div>
        </div>
        -->
    </div>

</section>



    <section class="recipe-preview">

        <div class="recipe-preview-container" data-cook-time="45" data-people-served="12" data-difficulty="Got Skills" data-spice="Mild" data-ingredients="1 cat"data-directions="Don't eat it"data-author="Satan" data-meal="Breakfast"><!--changed from recipe-card-container *** will this cause access issues??-->
            <div class="recipe-preview-image-container">
              <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2016/3/30/1/KC0905H_Spaghetti-Pie_s4x3.jpg.rend.hgtvcom.826.620.suffix/1529949155951.jpeg" alt="a cute kitten">
            </div>
            <h3><a href="#" class="recipe-preview-title">Cutie Kitten</a></h3> <!--<i class="fas fa-heart"></i>-->
            <span class="preview-data-author">Created by: Satan</span>
            <h2 class="preview-edit-recipe-text">Edit Recipe</h2>
            <input class="preview-edit-checkbox" type="checkbox" name="edit-recipe" value="edit">
        </div>

        <div class="recipe-preview-container" data-cook-time="45" data-people-served="12" data-difficulty="Got Skills" data-spice="Mild" data-ingredients="1 cat"data-directions="Don't eat it"data-author="Satan" data-meal="Lunch"><!--changed from recipe-card-container *** will this cause access issues??-->
          <div class="recipe-preview-image-container">
            <img src="https://spicysouthernkitchen.com/wp-content/uploads/chicken-pot-pie-replace-blog-4.jpg" alt="a cute kitten">
          </div>
          <h3><a href="#" class="recipe-preview-title">Cutie Kitten</a></h3> <!--<i class="fas fa-heart"></i>-->
          <span class="preview-data-author">Created by: Satan</span>
          <h2 class="preview-edit-recipe-text">Edit Recipe</h2>
          <input class="preview-edit-checkbox" type="checkbox" name="edit-recipe" value="edit">
      </div>

    </section>

  </main>