/*
Group 1 Final Project style.css
Garrett Brown (browng2@oregonstate.edu), 
Marcella Petrucci (petrucma@oregonstate.edu),
Chris Weiner (weinerc@oregonstate.edu)
*/
html{
    background-color: #FCF4E7;
}


header{
    display: flex;
    position: relative;
    margin: 10px;
    justify-content: center;
}

.header-image-container{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.header-image-container img{
    align-self: center;
    height: 78%;
    width: 78%;
    border: 2px solid black;
    background-color: white;
}

.site-title a{
    position: relative;
    background-color: #FD671A;
    color: black;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    border: 2px solid black;
}

#search-box{
    display: flex;
    background-color: #BCBDC1;
    border: 2px solid black;
    font-family: 'Crete Round', serif;
    width: auto;
    align-items: flex-start;
    justify-content: center;
}

.search-container{
    font-family: 'Crete Round', serif;
    align-items: relative;
    padding: 10px;
}

#search-button{
    position: relative;
    display: flex;
    padding: 10px;
    background-color: black;
    color: white;
    border: 3px solid #FD671A;
    border-radius: 10px;
    font-family: 'Crete Round', serif;
    font-size: x-large;
}

#search-button:hover{
    position: relative;
    display: flex;
    padding: 10px;
    background-color: #FD671A;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    font-family: 'Crete Round', serif;
    font-size: x-large;
}

#meal-tabs ul{
    list-style-type: none;
    display: inline;
    background-color: #BCBDC1;
    padding: 0;
    margin: 0;
    background-color: #BCBDC1;
}

#meal-tabs li{
    float: left;
}

#meal-tabs li a{
    display: block;
    color:black;
    text-align: center;
    padding: 26px, 10px;
    text-decoration: none;
}

#meal-tabs li a:hover{
    background-color: #FD671A;
}