/*
Group 1 Final Project style.css
Garrett Brown (browng2@oregonstate.edu),
Marcella Petrucci (petrucma@oregonstate.edu),
Chris Weiner (weinerc@oregonstate.edu)
*/
html{
    background-color: #FCF4E7;
}


header{
    display: flex;
    position: relative;
    margin: 10px;
    justify-content: center;
}

.header-image-container{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.header-image-container img{
    align-self: center;
    height: 78%;
    width: 78%;
    border: 2px solid black;
    background-color: white;
}

.site-title a{
    position: relative;
    background-color: #FD671A;
    color: black;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    border: 2px solid black;
}

#search-box{
    display: flex;
    background-color: #BCBDC1;
    border: 2px solid black;
    font-family: 'Crete Round', serif;
    width: auto;
    align-items: flex-start;
    justify-content: center;
}

.search-container{
    font-family: 'Crete Round', serif;
    align-items: relative;
    padding: 10px;
}

#search-button{
    position: relative;
    display: flex;
    padding: 10px;
    background-color: black;
    color: white;
    border: 3px solid #FD671A;
    border-radius: 10px;
    font-family: 'Crete Round', serif;
    font-size: x-large;
}

#search-button:hover{
    position: relative;
    display: flex;
    padding: 10px;
    background-color: #FD671A;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    font-family: 'Crete Round', serif;
    font-size: x-large;
}

#meal-tabs ul{
    list-style-type: none;
    display: inline;
    background-color: #BCBDC1;
    padding: 0;
    margin: 0;
    background-color: #BCBDC1;
}

#meal-tabs li{
    float: left;
}

/*This is the styling for all the meal tabs by default*/
#meal-tabs li a{
    display: block;
    color:black;
    background-color: #BCBDC1;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 10px;
    font-family: 'Crete Round', serif;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#meal-tabs li a:hover{
    background-color: #FD671A;
    color: white;
}

/*Temporary fix for an active tab by default.
The active tab by default being the ALL tab*/
#meal-tabs li:first-child a{
    display: block;
    color: white;
    background-color: #FD671A;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 10px;
    font-family: 'Crete Round', serif;
}

/*When hovering over the Add Recipe tab*/
#meal-tabs li:last-child a:hover{
    background-color: darkred;
    color: white;
}

/*Recipe Card styling*/
#recipe-cards{
    display: flex;
    background-color: #ffefc7;
    border-radius: 20px;
    padding: 25px;
}

.recipe-image-container{
    display: flex;
    justify-content: center;
}

.recipe-image-container img{
    display: flex;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    border: 3px solid black;
}

.recipe-title{
    display: flex;
    justify-self: flex-start;
    font-family: 'Crete Round', serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 36px;
    margin: 25px;
}

.data-cook-time{
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    border-right: 1px solid black;
}

.data-people-served{
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    border-right: 1px solid black;
}

.data-difficulty{
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-left: 25px;
}

.data-ingredients{
    font-family: 'Asap', sans-serif;
    padding-left: 45px;
    font-size: 14px;
}

.data-directions p{
    font-family: 'Asap', sans-serif;
    padding-left: 25px;
    font-size: 14px;
}

.data-author{
    font-family: 'Asap', sans-serif;
    margin-left: 25px;
    margin-bottom: 25px;
    font-size: 14px;
}
